<style>
    .out-box{font-size: 12px;width: 100%;height: auto;color: #777777}
    .out-box .title{margin-top: .12rem; padding: 0 .15rem; font-size: 0.15rem; margin-bottom: .1rem; font-weight: bold; color: #000;}
    .out-box .list{font-size: .14rem; padding: 0 .15rem .1rem; text-align: justify; line-height: .22rem;display: none}
</style>
<div class="out-box">
    <h4 class="title">{{name}}</h4>

    <p class="list" data-name="麻醉科">
        &emsp;&emsp;华西附四院麻醉科成立于2009年。前身从属于华西四院外科，由成都市三医院主任医师马性觉指导工作。在院领导的关怀下，科室不断壮大，成员现有3人，主治2人，住院医师1人。科室主任雷晓虹，主治医师。2004年毕业于四川大学华西医科大学，毕业后参加华西医院住院医师培训，顺利完成五年培训，并取得相关资质及硕士学位。培训结束后在华西医院从事麻醉工作，期间曾于2011年至德国进修一年。在国内医学刊物上发表论文多篇。熟练掌握各种麻醉技术及方法，尤其擅长全麻及椎管内麻醉，对无痛胃肠镜检查及多种手术麻醉治疗有丰富经验。现我科有手术室4间，肺灌洗室1间，眼科手术室1间，耳鼻喉科手术室1间，具备术后复苏室。开展无痛胃镜等检查项目。我科承担了肺灌洗、普外科、妇科、泌尿外科、耳鼻喉科、眼科和胃镜室等科室临床手术、检查的麻醉工作。在双腔支气管内麻醉、老年病人麻醉以及围手术期监测与治疗、围手术期镇痛等方面形成了自己的特色。
    </p>
    <p class="list" data-name="ICU">
        &emsp;&emsp;我院ICU是负责各类危重病人的监护、治疗和抢救工作的综合性重症医学科。至成立以来尤其担负了全院、四川省乃至西南地区职业病、中毒危重症患者的救治工作。<br />
        &emsp;&emsp;我科为层流病房设计，有开放式正压监护病房和负压隔离病房。现拥有国际一流水准的重症呼吸机、无创呼吸机、转运呼吸机、CRRT机、血液灌流机、纤维支气管镜、PiCCO及漂浮导管心输出量监测仪、床旁血气生化仪1台、快速免疫监测仪、亚低温治疗仪、除颤起搏仪、多导心电图机2台、骨髓腔内输注系统、尿流量监测仪等监护和治疗设备。ICU配有中央监护系统，每个监护单元配有多功能监护仪1台，均具有有创监测、连续无创心输出量监测、BIS监测、呼吸末二氧化碳监测等功能。同时每个监护单元配有输液泵和注射泵各4套，负压吸引阀、氧气阀各3套，电源12个，照明2套。同时医院也提供床旁彩超和X光机等服务。在危重病人器官功能支持、床旁CRRT治疗、血液灌流技术、重症感染治疗、危重症镇痛镇静、危重症营养支持、内环境紊乱纠治等方面有较多的经验。尤其在各种原因引起的中毒、职业病以及多器官功能不全救治等方面有较强实力。<br />
        &emsp;&emsp;我科现有主任医师1名，副主任医师1名，主治医师3名，住院医师4名，其中硕士3名，在职硕士3名，本科3名。护士15名，均具有大专以上学历。医护人员技术娴熟，责任心强。<br />
        &emsp;&emsp;四川大学华西第四医院ICU本着“卓越、为民”的华西公卫精神，实施以人为本的人性化管理，医护人员时刻牢记“以病人为中心”的服务宗旨，以其良好的医德医风、精湛的技术、热情周到的服务和吃苦耐劳的精神赢得了广大医务人员和病人的由衷赞扬，取得了较好的社会效益和经济效益。<br />
        &emsp;&emsp;我院ICU是负责各类危重病人的监护、治疗和抢救工作的综合性重症医学科。至成立以来尤其担负了全院、四川省乃至西南地区职业病、中毒危重症患者的救治工作。<br />
        &emsp;&emsp;我科为层流病房设计，有开放式正压监护病房和负压隔离病房。现拥有国际一流水准的重症呼吸机、无创呼吸机、转运呼吸机、CRRT机、血液灌流机、纤维支气管镜、PiCCO及漂浮导管心输出量监测仪、床旁血气生化仪1台、快速免疫监测仪、亚低温治疗仪、除颤起搏仪、多导心电图机2台、骨髓腔内输注系统、尿流量监测仪等监护和治疗设备。ICU配有中央监护系统，每个监护单元配有多功能监护仪1台，均具有有创监测、连续无创心输出量监测、BIS监测、呼吸末二氧化碳监测等功能。同时每个监护单元配有输液泵和注射泵各4套，负压吸引阀、氧气阀各3套，电源12个，照明2套。同时医院也提供床旁彩超和X光机等服务。在危重病人器官功能支持、床旁CRRT治疗、血液灌流技术、重症感染治疗、危重症镇痛镇静、危重症营养支持、内环境紊乱纠治等方面有较多的经验。尤其在各种原因引起的中毒、职业病以及多器官功能不全救治等方面有较强实力。<br />
        &emsp;&emsp;我科现有主任医师1名，副主任医师1名，主治医师3名，住院医师4名，其中硕士3名，在职硕士3名，本科3名。护士15名，均具有大专以上学历。医护人员技术娴熟，责任心强。<br />
        &emsp;&emsp;四川大学华西第四医院ICU本着“卓越、为民”的华西公卫精神，实施以人为本的人性化管理，医护人员时刻牢记“以病人为中心”的服务宗旨，以其良好的医德医风、精湛的技术、热情周到的服务和吃苦耐劳的精神赢得了广大医务人员和病人的由衷赞扬，取得了较好的社会效益和经济效益。<br />
    </p>
    <p class="list" data-name="耳鼻喉科(睡眠医学科)">
        &emsp;&emsp;我院于2001年就开始了睡眠呼吸疾病诊治工作，2002年成立了“睡眠呼吸疾病诊治中心”。2013年已冠名为“四川省睡眠呼吸疾病诊治中心”，简称“中心”。该中心主任张晓晴博士在西南地区率先引进等离子低温消融手术系统、ellman射频电波刀和pillar上腭植入系统，成功治疗了7000多例国内外阻塞性睡眠呼吸暂停综合征（OSAHS）患者，手术效果良好，已取得国内外同行的认可，填补了此项技术在西南地区的空白，为我省的睡眠事业在全国占领了一席之地，为四川大学医学中心争得了荣誉。中央电视台《走进科学》栏目专程采访并制作了“午夜惊梦”节目，记录了她应用微创手术系统治疗重症鼾症的全过程。曾被外省多次邀请在中华医学耳鼻咽喉科年会上做了关于《微创手术系统治疗OSAHS》的学术报告和手术示教。连续三年的“世界睡眠日”，该中心与四川电视台联合进行新闻现场直播节目，向全省人民宣传有关睡眠及睡眠障碍的知识。经过长期的不懈努力，中心取得了长足的发展，综合实力不断壮大。<br />
        &emsp;&emsp;（一）诊疗情况<br />
        &emsp;&emsp;1.“中心”近十余年来，诊治成人睡眠疾病患者越10万余人次，并探索出应用微创手术治疗OSAHS的手术模式，成功治疗了7000多名来自国内外的OSAHS患者。<br />
        &emsp;&emsp;2.儿童睡眠呼吸疾病是近年来研究的热点之一，因儿童正处于身体及智力的发育期，儿童OSAHS引起的低氧血症可导致心、肺、脑等重要器官损伤，并严重影响骨骼生长和智力发育，该中心多年的临床实践中，摸索出一套OSAHS的保守治疗，目前，保守治疗和微创手术治疗的方法趋于成熟，已治疗了数千例儿童OSAHS患儿，为儿童的健康生长提供良好的条件，以弥补相关领域的空白。<br />
        &emsp;&emsp;3. 在耳鼻喉科常见病、多发病的诊治方面：采取了少量药物治疗与局部治疗相结合的方法，特别是对突发性耳聋、神经性耳鸣耳聋、急慢性中耳炎、分泌性中耳炎、过敏性鼻炎、急慢性鼻窦炎、神经性失嗅、急慢性咽喉炎、声带小结、声带息肉等疾病疗效明显，越来越被广大患者认可与好评。<br />
        &emsp;&emsp;4.为医院鉴定专家组对本科职业病及各种外伤的鉴定提供了客观依据；<br />
        &emsp;&emsp;（二）学术研究<br />
        &emsp;&emsp;该“中心”长期从事睡眠呼吸疾病的病因学研究，对不同职业人群睡眠质量和生存质量的相关性研究有独到的见解。发表研究论文多篇。完成《微创手术系统在睡眠障碍诊治中的应用》、《成都飞机制造厂工人睡眠质量和生存质量相关性分析》、《等离子体低温消除手术系统在鼾症治疗中的研究》、《阻塞性睡眠呼吸暂停低通气综合征危险因素探讨》、 《Epworth嗜睡评估量表在不同暂停低通气综合征患者中的预测作用》、《儿童阻塞性睡眠呼吸暂停低通气综合征局部治疗疗效分析》和《睡眠障碍与职业分布的关系》等课题。<br />
        &emsp;&emsp;（三）技术水平<br />
        &emsp;&emsp;我科在西南地区率先引进微创手术系统，应用高科技的美国Ellman射频电波刀和等离子低温消融手术系统，成功治疗了来自海内外数千例鼾症患者，效果显著。经过长期地实践，探索出应用微创手术系统治疗疑难重症鼾症的手术模式。“中心”的微创手术系统能使一些不宜或不愿进行传统手术的肥胖患者获得治疗机会，其创新在于将复杂的全麻传统手术转化成简单的局麻门诊微创手术，实现12年零死亡和零医疗事故的记录。<br />
        &emsp;&emsp;“中心”现在的规模和医疗水平是医院重要的组成部分，通过十年在业务拓展、项目选择、设备购置、理念建立、专业培训、宣传推广、风险防范和后勤保障等方面的磨炼，“中心”已经逐渐发展壮大，取得了很好的社会效益和经济效益，成为四川省广大市民信赖的睡眠呼吸疾病诊治中心之一。此“睡眠呼吸疾病诊治中心”作为医院推动睡眠医学十年的成功案例，在2011年四川省中华医学会睡眠大会上得到了充分的肯定和推广。<br />
        &emsp;&emsp;（四）硬件设施<br />
        &emsp;&emsp;目前中心拥有大型耳鼻喉科诊疗工作台3台；PSG监测设备5套；正压给氧治疗设备6套；电子鼻咽镜检查设备3套；电子耳镜设备1套；局部理疗仪10余台；微创手术系统3套；纯音测听、声导抗、言语测听设备2套；ABR分频、ABR听神经诊断，雄厚的物资技术力量为诊治疾病提供了客观依据和众多项目研究的基础。<br />
        &emsp;&emsp;（五）医资力量<br />
        &emsp;&emsp;目前拥有经验丰富的医疗团队：主任医师、副主任医师、睡眠技师、听力技师、研究生、护士，共计14人。睡眠中心具有一定的教学能力，承担住院医师、进修医师及硕士研究生教学及临床培训工作。培养硕士研究生10余名。病床24张。<br />
        &emsp;&emsp;（六）健康宣传<br />
        &emsp;&emsp;十二年来，通过多种方式、多种渠道及一系列的策划，我院睡眠呼吸疾病诊治中心成了海内外媒体关注的热点，为了普及睡眠疾病常识，创立了“华西睡眠”专业网站，设立了专用咨询电话，目前，网站累积点击次数高达65万多次，咨询电话数万人次。并在相关单位编辑出版了多种睡眠相关期刊和读物，图书资料及音像制品。 如：华西四院睡眠中心张晓晴博士主编出版了四川省睡眠呼吸疾病医学组推荐科普读物 《警惕“睡眠杀手”¾别拿打鼾不当病》一书，受到了广大患者的热烈欢迎，在群众中普及了睡眠知识，也为患者提供多角度服务和业务宣传平台。<br />
        &emsp;&emsp;张晓晴 副院长 于1986年7月从事耳鼻喉科工作<br />
        &emsp;&emsp;主任医师 四川大学华西第四医院“睡眠呼吸疾病诊治中心”创始人及“四川省睡眠呼吸疾病诊治中心”主任、医学博士、教授、硕士生导师，擅长应用高科技微创手术系统治疗睡眠呼吸障碍（鼾症）及头颈外科疾病，擅长各种耳聋、耳鸣、急慢性中耳炎、咽喉炎、扁桃体炎、鼻炎、鼻窦炎、鼻出血等常见病的诊治。从事职业性耳鼻咽喉病和睡眠呼吸疾病的病因学研究，在专业核心刊物上发表论文40余篇<br />
        &emsp;&emsp;《中华中西医学杂志》 常务编委<br />
        &emsp;&emsp;《现代预防医学》 评审专家<br />
        &emsp;&emsp;《生物医学工程》 评审专家<br />
        &emsp;&emsp;成都市劳动能力鉴定委员会 专家委员<br />
        &emsp;&emsp;中国管理科学研究院学术委员会 特约研究员<br />
        &emsp;&emsp;中国睡眠研究会青年工作委员会 委员<br />
        &emsp;&emsp;陈根桃<br />
        &emsp;&emsp;科主任 于1969年1月从事耳鼻喉科工作<br />
        &emsp;&emsp;副主任医师<br />
        &emsp;&emsp;擅长神经性耳聋耳鸣、突发性耳聋、急慢性中耳炎、儿童分泌性中耳炎、鼻炎、鼻窦炎、鼻腔大出血、扁桃体炎、急慢性咽喉炎等常见病的诊治，且有丰富的诊疗经验，对鼾症、鼻咽癌、喉癌、儿童分泌性中耳炎的诊断和治疗进行过系统的研究，发表学术论文10余篇。<br />
        &emsp;&emsp;曾多次参加耳鼻喉疾病学术交流会,<br />
        &emsp;&emsp;在成都市第二届年会上交流，并获得优秀论文奖<br />
        &emsp;&emsp;参加四川省第一次睡眠医学学术会<br />
        &emsp;&emsp;参加四川省第二次睡眠医学学术会<br />
    </p>
    <p class="list" data-name="针灸康复科">
        &emsp;&emsp;四川大学华西第四医院针灸康复科成立于2010年，康复科成立以来坚持“一切以病人为中心”，拥有现代康复治疗技术和传统康复结合的医师团队。2015年获国家中医药管理局颁发中医学术流派传承二级工作站。有2名李氏杵针主要传承人。现有康复治疗师4名，针灸医师3名。<br />
        &emsp;&emsp;针灸康复科拥有PT、OT、ST等西医康复技术和先进的物理治疗，康复训练设备。配合中医多种传统疗法，通过特设的中西医结合康复模式，承担多种疾病的预防、康复评定及治疗，诊治病种包括：<br />
        &emsp;&emsp;神经系统疾病：脑血管意外或脑外伤后遗症、中风偏瘫、面瘫、三叉神经痛、面肌痉挛、脊髓损伤、小儿脑瘫、偏瘫、截瘫、面瘫、三叉神经痛、面肌痉挛、外周神经损伤等中枢及外周神经疾患；特别是我院职业病最常见的中毒后缺血缺氧性脑病，运用针灸对植物人状态的苏醒和康复，积累了丰富经验。<br />
        &emsp;&emsp;运动系统：颈椎病、腰椎病、腰椎间盘突出症、骨折术后、肩周炎、肌筋膜炎、关节炎、软组织扭挫伤、落枕、痉挛性斜颈、坐骨神经痛、腕管综合征、腱鞘炎、网球肘、膝骨关节炎等疾病。<br />
        &emsp;&emsp;内科系统疾病：头痛、眩晕、失眠、嗜睡、心悸、 胸闷、神经痛、抑郁症、疲劳综合征、肥胖、咳嗽、哮喘、呕吐、呃逆、胃痛、腹痛、腹泻、便秘、尿频、尿闭、等疾患。<br />
        &emsp;&emsp;现代康复简介：康复科开展急危重症（如脑出血、脑梗塞、脑栓塞、血管畸形等）的早期床旁康复治疗，针对现在脑血管意外发生的频繁，开展的现代康复治疗项目，包括系统的康复评定，如作业需求评估、上肢功能评定、认知功能评定、感知觉功能评定、言语评定、日常生活能力评定、环境、辅助器具及生活质量评定等。现代康复治疗包括以提高患者偏瘫肢体功能为目的的主被动训练；针对言语、吞咽有困难的患者进行的言语及吞咽功能训练；针对肩手综合征进行的康复治疗及训练；针对痉挛及关节挛缩、足内翻患者的康复训练及药物治疗。病人入院后我们及时对患者进行病房内训练指导，心理疏导，出院后对家庭及环境进行改造指导。并积极开展对病人及家属的康复护理知识宣传教育，提高患者的生活自理能力、学习和工作能力，最终提高生活质量从而使病人重新回归家庭和社会。<br />
        &emsp;&emsp;现代康复设备：我科拥有超短波、颈腰椎牵引仪、磁振热、骨质疏松治疗仪、低周波治疗仪、减重步态训练系统、站立床、熏蒸床、微波神经康复评定系统、超声治疗仪、偏振光、中频、生物反馈治疗仪、空气压力波治疗仪、经颅磁脑病治疗仪等现代康复治疗设备。<br />
        &emsp;&emsp;传统康复简介： 针灸疗法具有疗效显著、适应症广、操作简便、经济安全的优点，深受广大人民群众的欢迎。主要采取针刺、艾灸、拔罐、游走罐、中药薰蒸、火针、放血疗法、耳针、梅花针、穴位贴敷、穴位注射、穴位埋线、刮痧、中医手法推拿、中药塌渍等各种方法。在治疗各种疼痛、各种功能性疾病和感觉、运动障碍性疾病方面具有独特的优势。<br />
        &emsp;&emsp;特色疗法简介：采用传统针灸、火针、风湿药酒、药物内服外用、穴位注射、穴位敷贴等独特治疗方法。如：<br />
        &emsp;&emsp;（1）药敷疗法：药敷疗法是将多味中药制成药散，使用时加上酒、水调匀成糊状，外敷患处。通过经皮吸收，促进了血液循环，具有祛风散寒，温通经络，活血化瘀和消肿止痛的作用。<br />
        &emsp;&emsp;（2）火针：传统的火针疗法治疗对膝关节冷痛，带状疱疹后遗神经痛等寒症，痛症有很好疗效。同时在多年的火针运用经验上，治疗面部老年疣，痤疮，丝状疣，神经性皮炎等顽固皮肤病。<br />
        &emsp;&emsp;（3）穴位埋线减肥：运用先进的人体成分测试仪对人体体脂率，腹部脂肪，肌肉量，体液，基础代谢等检测。对检测结果由营养师为患者量身定制营养，运动方案。同时通过辨证，在人体穴位上埋入羊肠线，结合现代营养学，进行热量干预，提高基础代谢。通常一个月能减脂肪4-8斤。不节食，无副作用。<br />
        &emsp;&emsp;（4）传统手法：传统手法对常见的颈椎病、腰椎病、肩周炎、退行性膝关节骨关节炎等常见运动系统疾病，以舒经活络酒为按摩介质，以达到通经活血，理筋止痛的作用。<br />
        &emsp;&emsp;（5）杵针疗法：杵针疗法是我国传统医学的宝贵遗产，由原四川针灸学会会长、著名中医李仲愚继承和发扬的一种铜制钝型杵针，在患者不同穴位上采用特殊杵针手法以达到治疗疾病的疗法。其特点是不用药物、不用针刺、无破皮之苦、无创伤及感染风险，将针灸与按摩融为一体，对老弱妇孺均可使用。杵针疗法治疗广泛，对内科、妇科、伤科、五官科、骨科等疾病都有很好的疗效。<br />
        &emsp;&emsp;科室电话：028-85502818<br />
    </p>
    <p class="list" data-name="皮肤科">
        &emsp;&emsp;皮肤性病科由门诊和治疗室组成，本科室拥有很强的技术力量；主诊和治疗医师均为高年资主治医师，科室工作人员6名，其中医师4名：华西临床医学院毕业博士1名，硕士2名；护士2名。皮肤科拥有先进的仪器设备，尤其擅长色素性皮肤病（太田痣、雀斑、咖啡斑、黄褐斑、不良文刺）、病毒性皮肤病（带状疱疹、各种疣）、过敏性皮肤病（荨麻疹、湿疹）的诊断和治疗；以及采用中西结合方式治疗痤疮、扁平疣、银屑病、白癜风等顽固性难治性皮肤病；开展的治疗包括ND－YAG激光治疗、超脉冲CO2激光治疗、氦氖激光治疗，普通皮肤病治疗，液氮冷冻治疗等。同时开展过敏原检测及食物不耐受检测及斑贴试验。<br />
    </p>
    <p class="list" data-name="妇科">
        &emsp;&emsp;妇科门诊创建于1994年.，十多年来本科承担了来我院的近万人常规妇科检查及到企事业单位体检.早发现早治疗,为病员恢复健康争取了时间,开设妇科门诊、妇科咨询、青春期、更年期疾患，特别是阴道炎、子宫颈炎等妇科感染。<br/>
        &emsp;&emsp;开展部分处女膜闭锁、前庭大腺丰肿、阴道纵横,阴道壁丰肿、阴道前后壁修补择期手术。<br/>
        &emsp;&emsp;王玉彬副主任医师，拥有丰富的妇科临床实践经验，擅长妇科感染性疾病、青春期及更年期妇科疾病的诊治和会阴修补术。<br/>
    </p>
    <p class="list" data-name="眼科">
        &emsp;&emsp;华西第四医院自1975年建院即开设了眼科，主要开展对职业性眼病的检查、诊断、治疗与研究，同时也开展对其它常见眼病的临床诊治工作。2007年以来，医院通过引进人才，购置设备，增加了眼科的临床业务，开展了白内障超声乳化、玻璃体切割、泪道植管、羊膜移植、眼病激光治疗与冷冻治疗、眼底荧光血管造影等新技术，同时建立了拥有教授（主任医师）2名、副教授（副主任医师）2名，主治医师和医师4名的专业学术团队，迄今我院眼科已初具规模。<br />
        &emsp;&emsp;医疗业务范围及特色<br />
        &emsp;&emsp;业务范围：<br />
        &emsp;&emsp;1.白内障超声乳化+人工晶状体植入手术<br />
        &emsp;&emsp;2.复杂晶状体手术及二期人工晶状体植入手术<br />
        &emsp;&emsp;3.青光眼药物、激光、手术治疗<br />
        &emsp;&emsp;4.眼前后节疾病激光治疗<br />
        &emsp;&emsp;5.玻璃体视网膜疾病手术<br />
        &emsp;&emsp;6.眼病冷冻治疗<br />
        &emsp;&emsp;7.眼表、眼睑、泪器疾病治疗<br />
        &emsp;&emsp;8.眼外伤及职业眼病治疗<br />
        &emsp;&emsp;9.儿童斜、弱视治疗<br />
        &emsp;&emsp;特色专科—白内障超声乳化简介：<br />
        &emsp;&emsp;1. 手术切口小，愈合快，术后散光轻<br />
        &emsp;&emsp;2. 手术时间短，仅需10余分钟，无痛苦<br />
        &emsp;&emsp;3. 术后视力恢复快而好<br />
        &emsp;&emsp;4. 不必等待白内障“成熟”，视力低于0.5即可手术<br />
        &emsp;&emsp;5. 可不住院，术后即可回家<br />
        &emsp;&emsp;6. 针对不同的白内障患者的不同需求，提供世界知名眼科品牌公司生产的各型高品质进口人工晶状体供患者选择<br />
    </p>
    <p class="list" data-name="姑息关怀科">
        &emsp;&emsp;什么是姑息关怀？<br />
        &emsp;&emsp;姑息关怀是一种临床方法，对面临威胁生命疾患的痛苦的病人和他们的亲人提供整体的关怀，预防和缓解身心痛苦；通过各种临床措施进行早期识别，积极评估；缓解疼痛和控制躯体的、社会心理的和心灵的等其他痛苦症状，以改善其生命质量；姑息关怀是对患者的生物心理社会和躯体的整体关怀，涵盖了人文的关怀和医疗的各种积极的干预；姑息关怀整合其他相关的学科为一体，由相关的多功能的团队成员执行和实施。<br />
        &emsp;&emsp;World Health Organization, WHO<br />
        &emsp;&emsp;什么是姑息医学?<br />
        &emsp;&emsp;是一门临床医学分支学科,通过早期识别、积极评估、缓解疼痛和控制其它痛苦症状,改善面临威胁生命疾病的病人和他们的亲人的生命质量。姑息医学是医学领域用于对癌症晚期的/非恶性疾病的生命有限的患者提供医学临床干预的学科；是聚焦在缓解患者痛苦的临床医疗；是由受过姑息关怀专科训练的多功能的医护团队执业的临床学科。<br />
        &emsp;&emsp;姑息医学临床服务能将患者的疼痛和其他痛苦症状减到最低，最大化的维持患者的尊严；姑息医学的临床服务与干预生命危象的各种积极的措施紧密连接在一起，并进行无缝的整合；姑息医学服务围绕患者的疼痛和痛苦也不排斥必要时的姑息性放化疗和现代医疗对晚期恶性肿瘤的干预。同时，姑息医学尽可能最好的让患者的亲人得以心灵的慰藉；做到“生死两相安”。<br />
        &emsp;&emsp;四川大学华西第四医院姑息医学科始建于1996年，学科起步时由于各个层面对学科的认识和重视都不足，仅只有一名医生两名护士，在医院骨质疏松科的框架内开展姑息关怀服务。尽管学科的建设和发展在不断推进，但在其进程中困难重重、举步维艰，最重要的是医护人员面对患者的频繁的濒死和死亡感到压抑，和/或没有成就感等，不愿意和/或仅只做短暂时间的工作便调离；（这个是分号）学科的幸存几度面临肢解。学科带头人及其骨干坚持和不懈的努力，并与国际相关组织学术上保持着紧密的联系，使得学科不断改进和扩展；2002年成为WHO/OICPC姑息医学合作中心；2006年成为美国IAHPC国际姑息关怀协会成都教育培训部；同年，成为亚太地区APHN姑息关怀网络组织成员机构；2007年建立起李嘉诚基金会全国宁养医疗服务计划四川大学华西第四医院宁养院；至2012年姑息医学科已建设成为“四川省医学重点学科”。<br />
        &emsp;&emsp;2015年获四川省卫计委“宁养天年”健康服务业重大项目的资助，建立起“四川大学华西第四医院姑息医学中心”在成都市区范围内的社区卫生服务中心/基层医院建立起18家姑息医学；使得姑息医学服务获得有效的推广，并初步形成家居-社区-医院三级联动的姑息关怀服务网络；初步实现三级联动服务的远程查房/会诊服务，将传统的临床医疗服务模式与现代科技的电子化的网络服务紧密的结合在一起。在四川建立起不同层面的、便利的和现代化的服务模式，让更多的生命有限患者能获得更好的生存质量。<br />
        &emsp;&emsp;姑息医学科团队和服务机构<br />
        &emsp;&emsp;四川大学华西第四医院姑息医学科是国内率先建立姑息医学病房服务、姑息医学家居服务和社区服务的专业化机构；并且建立起家居-社区-医院病房的三级联动姑息关怀服务网络和远程查房/会诊联动网络服务。<br />
        &emsp;&emsp;姑息医学科拥有36名专业化医护团队，包括11名医生、25名护士。该团队先后有50人/次赴英国、美国、加拿大、澳大利亚、奥地利、新加坡、马来西亚、香港、台湾和泰国等国家和地区受过严格的姑息医学专业化培训和留学，并且在20多年的姑息关怀/姑息医学服务实践中积累了丰富的临床经验。<br />
        &emsp;&emsp;四川大学华西第四医院姑息医学临床服务实体包括病房服务、家居服务和社区服务。病房服务设置48张病床，开放单人间（可供病人和家属同住）和 三人间；每年大约为＞ 600名生命有限患者提供姑息关怀住院服务。<br />
        &emsp;&emsp;姑息怀家居服务 — 宁养院是一个典型的慈善姑息关怀家庭服务项目，对成都市为中心的100公里地域的“贫困癌症晚期疼痛”的生命有限患者提供上门免费家居服务，每年提供服务病人数≥550名。<br />
    </p>
    <p class="list" data-name="肿瘤科">
        &emsp;&emsp;四川大学华西第四医院肿瘤化疗科建于1999年，其前身为肿瘤镇痛科。该科有病床40张，医护人员20名，副主任医师4名，均拥有丰富的长期临床工作实践。肿瘤科在成都地区首次使用高强度超声聚焦刀，结合化疗、介入治疗，在肿瘤疾病诊断和治疗技术方面处于国内领先地位。为患者提供规范化、合理的治疗及化疗服务。肿瘤科正筹建介入病房及先进的放疗设备。我科目前采取肿瘤化疗、内科治疗、中医药抗癌及放射治疗辅助治疗。
    </p>
    <p class="list" data-name="职业病科">
        &emsp;&emsp;四川大学华西第四医院职业病科，是国家卫计委直属院校中唯一从事临床职业病诊断与治疗、科研的专业科室，也是医院最具特色的临床科室之一。该科拥有多名呼吸、消化、肾病、神内等专业的博士、硕士人才，科室现有临床医师11人，百分之九十具有博士、硕士学位，其中正教授1名，副教授4名，主治医师4名。拥有临床经验丰富、专业技术水平过硬的专家团队。在职业病的诊断与救治、呼吸系统相关性疾病的临床治疗以及生活性中毒、中毒后的康复、高压氧治疗、职业病相关的临床科研方面具有丰富的经验和雄厚的实力。科室有专业护士30人，其中主管护师3名，护师9名。护士均为护理专科毕业，其中本科毕业及本科在读近百分之七十。护理团队训练有素，2010年首先在全院开展优质护理服务护理，成为医院优质护理的护理示范单元。护理开展的“贴心为病人服务，悉心为病人提供指导，耐心为并病人解释疏导，全心陪同病人康复”的“四心”服务，深受医院、病人和病人家属的赞誉。2008年科室率先在西南地区首次开张双肺同期大容量灌洗治疗，为广大的尘肺患者带来福音。2013年科室进入国家首批临床重点专科建设项目，在该项目的支持下，科室建设了血液透析室；同时还建设了纤维支气管镜检查室，肺功能检测室。进一步增加了肺灌洗治疗设备，目前已经有三套肺灌洗设备，可同时开展2台肺灌洗治疗。科室现有病床64张，拥有肺灌洗治疗中心，血液灌洗透析中心，纤维支气管镜室，肺功能检测室等治疗检查单元。这些高端设施的建设，不但为科室职业病及呼吸相关性疾病的临床治疗、科研发挥了重要作用，而且也为我院作为四川省化学中毒救治基地、核辐射救治基地起到了重要的支撑。<br />
        &emsp;&emsp;职业病科是集临床、科研、教学为一体的专科科室，承担我国职业病医师临床培训、进修及职业相关疾病会诊，四川省卫计委省内应急救援，省内职业病诊断等多项任务，同时开展了职业病相关的临床研究。历经数十年积淀，其临床和科研成果累累，多次获得国家级、省级科研奖，其学术水平在全国处于领先地位。科室凭借高尚的医德医风、高超的医术医技、优质周到的服务，充满关爱、友善和谐而温馨的科室文化氛围赢得了整个社会的一遍赞誉。<br />
    </p>
    <p class="list" data-name="骨质疏松科">
       &emsp;&emsp;我院骨质疏松科是西南首家骨质疏松专科，是四川省骨质疏松专委会主任委员单位，拥有全国知名骨质疏松专家、先进骨质疏松诊断和治疗设备，设立骨质疏松专科病房。在骨质疏松症诊断及综合诊疗方面具全国先进水平。该科在各型骨质疏松症、颈椎病、退行性骨关节疾病方面积累了丰富的临床经验，采用综合治疗措施治疗上述疾病，取得了良好临床效果。先后参加国家九五攻关课题《原发性骨质疏松症发病及骨折流行病学调查》和数项国家级抗骨质疏松新药临床验证。在国家级医学期刊发表论文一百多篇，主编骨质疏松专著3部，参编数部。该科全体医护人员以病员为中心，全面提高服务质量，为广大骨质疏松症、颈椎病、骨性关节炎患者提供优质服务。祝广大病员早日康复。<br />
       &emsp;&emsp;何为骨质疏松？骨质疏松是一种全身性骨代谢病症，由遗传、内分泌、免疫、运动和营养等多方面因素引起。骨质疏松症是以骨量骨微观结构破坏导致骨脆性增加和骨折危险度增高为特征的全身性骨骼系统的退化性病变。主要症状从轻到重表现为腰、背疼痛以至四肢麻木；驼背或身长缩短、自然性骨折等。<br />
       &emsp;&emsp;骨质疏松可分为三大类：<br />
       &emsp;&emsp;（1）为原发性骨质疏病，它是随着年龄的增长必然发生的一种生理性退行性病变。<br />
       &emsp;&emsp;（2）为继发性骨质疏松症，它是由其他疾病或药物等一些因素所诱发的骨质疏松症。<br />
       &emsp;&emsp;（3）为特发性骨质疏松症，多见于8至14岁的青少年或成人，多半有遗传家族史，女性多于男性。妇女妊娠及哺乳期的发生的骨质疏松也可列入特发性骨质疏松。<br />
       &emsp;&emsp;骨质疏松易引起：骨折、全身疼痛、身长缩短、驼背、呼吸功能下降等。<br />
    </p>
    <p class="list" data-name="急诊科">
        &emsp;&emsp;我科秉承“救死扶伤，实行革命人道主义”的宗旨，坚持时刻以病人为中心、以精湛的技艺为基础、优质的服务为目标、恪守医学职业道德、发挥专科特色优势，提供全年、全天候、全面、紧急、便捷的急诊出诊、内外科急诊和便民门诊服务。我科以先进的现代急诊医学技术和设备为基础，依托本院雄厚的急性中毒救治能力，逐步形成的院前急救—院内急诊—留观室及监护室一体化模式，为广大患者提供抢救生命的绿色通道。<br />
        &emsp;&emsp;医疗设备及业务范围<br />
        &emsp;&emsp;我科拥有先进的多参心电监护仪3台、除颤仪1台、重症呼吸机1台、转运呼吸机3台、全自动洗胃机1台、血液灌流机1台、快速血糖检测仪1台、心电图机1台、可视喉镜1台、微量输液泵及注射泵数套、骨髓腔内输注系统1台、多功能抢救床以及功能齐备的救护车等全套先进的急诊抢救设备。<br />
        &emsp;&emsp;我科设有急诊分诊和候诊区、急诊抢救监护室、内外科急诊诊断室、发热诊断室、腹泻诊断室、急诊清创间、输液室、留观室（急诊病房）、腹泻留观室、急诊采血室、注射室及急诊辅助功能检查、挂号收费室、急诊入院处等功能区，开放抢救床2张，输液椅12张，普通留观床位5张，发热腹泻留观床位各1张，24小时为急诊患者服务。常规开展心肺脑复苏术、体外除颤、呼吸与循环支持、急诊床旁血液净化、各种内外科急危重症紧急救治等技术，能对各种原因所致的心跳呼吸骤停、昏迷、休克、心律失常、心衰、呼衰、大出血、急性创伤等常见的急危重症给予快速的评估和救治。同时，我科也作为四川省卫生应急队成员，承担省内外各种公共卫生突发事件的紧急救援任务。<br />
        &emsp;&emsp;急救特色<br />
        &emsp;&emsp;我科以中毒为特色，作为四川省化学中毒救治基地，对工业性、农业性、药物性及生活中毒有较强的救治能力，提供急性中毒患者第一步抢救和治疗，为后续的专科治疗与康复创造条件。我院备有液相、气相色谱分析仪等毒检分析设备，能提供铅、汞、砷、铬、铊等毒物的快速检测。我科开展床旁血液灌流等血液净化技术为各种急性中毒提供先进快速地救治手段。急诊高压氧治疗给各种急性有害气体中毒、中毒性肺水肿及缺血缺氧性疾病患者提供了有效的紧急救治。此外，我科也逐步在各种动物咬伤和物理因素所致急症治疗中形成自己的特色。<br />
    </p>
    <p class="list" data-name="老年科">
        &emsp;&emsp;华西四院老年科由美国中华医学基金会资助建立，是从事老年病预防、诊疗、康复、教学及科研的特色专科，拥有以5名临床经验丰富的教授、副教授为核心的老年医学团队，对老年人心血管疾病、糖尿病、肺部疾病的诊治、康复等有独到之处。建立了老年康复治疗室，能满足老年患者不同层次的需要。<br />
    </p>
    <p class="list" data-name="药剂科">
        &emsp;&emsp;医院药学工作是医院工作的重要组成部分，药剂科工作水平的高低，药品质量的好坏，直接关系患者的安危。长期以来，药剂科认真贯彻执行《药品管理法》、《处方管理办法》等法律、法规，科学地管理全院药品，为医疗临床需要及时准确地调配处方；科学、经济地采购和供应质量合格的药品，确保临床用药的安全、有效、经济、合理。<br />
        &emsp;&emsp;除日常医疗工作外，药剂科还结合临床，积极开展临床药学科研。科室曾承担并完成卫生部科研基金资助课题1项；作为负责单位研制西药四类新药，获国家新药证书1个；通过科研实践，在全国公开刊物发表论文30余篇，参编著作2部。<br />
        &emsp;&emsp;药剂科现有专业技术人员17人，包括副主任药师2人，主管药师1人，药师8人，药士3人，其他技术人员3人；其中硕士2人，在读研究生3人，本科6人。<br />
        &emsp;&emsp;全科同仁在日常工作中，坚持以病人为中心，秉持“专业、服务”的理念，为患者提供优质、高效、安全便捷的医疗服务。<br />
    </p>
    <p class="list" data-name="检验科">
        &emsp;&emsp;四川大学华西第四医院检验科于1976年成立，经过几次组织架构改革，目前有综合实验室（包括临床生化组、临床基础检验组、临床血液组）、临床微生物实验室、临床免疫实验室、输血与输血技术实验室、理化实验室（针对临床职业性中毒与核辐射损伤检验等）等五个亚专业实验室和一个前处理组。<br />
        &emsp;&emsp;检验科现有员工18人，其中省级专家2人、硕士2人，其中17人具有本专科以上学历；主管技师5人，技师12人。检验科以《医疗机构临床实验室管理办法》、《实验室生物安全通用要求》等为指南，建立了全面科学的临床医学检验质量与安全管理体系,制定了质量与安全管理计划和质量控制指标，以高素质的专业技术队伍和优化的工作流程，采用先进的工作模式，来保证样本检测快速与准确。<br />
        &emsp;&emsp;检验科目前已开展检验项目百余项，具有前沿性及针对性，覆盖面广，能够提供24小时急诊检验服务，满足医院临床功能需要。其中理化室是检验科重点实验室，为职业健康检查和职业病诊疗提供特殊检查项目，如铅、汞、锰、铊、铬、镉等重金属检测，染色体培养与淋巴微核检测、微量元素（钙、铁、锌、硒、镁、铜）检测等。实验室是目前国内开展职业性中毒及核辐射损伤检测项目多、标本检测量大、运用检测技术最先进的实验室之一。检验科临床亚专业实验室除了开展如生化检测（肝肾功能、血脂血糖、心肌标识物等）、血细胞分析、血型鉴定、尿液分析、大便常规、凝血功能、输血前/术前全套筛查、微生物培养与鉴定等常规检验外，还开展了血气分析、肿瘤标志物、激素等特殊检验项目，并且每年均会申报新项目，以拓展业务范围，满足临床需求。此外，检验科输血与输血技术实验室以《医疗机构临床用血管理办法》和《临床输血技术规范》为工作指南，在医院用血管理委员会指导下，也建立了规范的质量管理体系，制定了各类用血相关制度与程序，能24小时为临床提供供血服务，并与临床医师配合做到安全、有效、科学用血。<br />
    </p>
    <p class="list" data-name="放射科">
        &emsp;&emsp;四川大学华西第四医院放射科是集临床、科研、教学应用的重要学科之一。本科室创建至今，由曾任老年学会骨质疏松分会副理事长、《中国骨质疏松杂志》副主编、四川省尘肺诊断组组长、成都市医学会放射学专委会主任委员杨定焯教授指导诊断工作。科室在完成临床工作和本科生、研究生教学工作的基础上，先后承担、参与纵向及横向课题21项，一项通过四川省科技厅科技成果鉴定，在国内外刊物发表论文90多篇。我院放射科科已发展成为亚专业设置较齐全、技术力量雄厚、梯队结构合理并以职业病诊断为特色的学科，是国内职业病影像医学专业人才培养的主要基地。<br />
        &emsp;&emsp;该科具有雄厚的诊断技术力量，现有在岗职工15名，诊断医生7名（硕士研究生毕业6人，教授1人，主任医师1人）；技师7名；护士1名。本科室医务人员始终保持“211”院校附属医院的严谨作风，在临床工作中坚持“以人为本”的科学发展观，牢固树立“以病人为中心”的服务理念，以“关怀、服务”为宗旨，严格规范医疗行为，不断提高服务质量。<br />
        &emsp;&emsp;放射科服务项目：<br />
        &emsp;&emsp;1、24小时x7天 急诊DR、CT检查、床旁CR检查<br />
        &emsp;&emsp;2、全身各部位普通X摄线检查<br />
        &emsp;&emsp;3、全身各部位DR检查<br />
        &emsp;&emsp;4、消化道造影检查<br />
        &emsp;&emsp;5、静脉肾盂检查<br />
        &emsp;&emsp;6、尘肺高千伏摄影检查<br />
        &emsp;&emsp;7、全身各部位CT平扫<br />
        &emsp;&emsp;8、全身各部位增强CT扫描<br />
        &emsp;&emsp;9、动态CT扫描；灌注CT扫描<br />
        &emsp;&emsp;10、胸部高分辨CT扫描及其它各部位薄层CT扫描<br />
        &emsp;&emsp;11、全身各部位CT软组织三维重建<br />
        &emsp;&emsp;12、全身CT骨三维重建<br />
        &emsp;&emsp;13、CT大血管成像<br />
        &emsp;&emsp;14、CT消化道成像<br />
        &emsp;&emsp;15、CT泌尿道成像<br />
        &emsp;&emsp;16、骨密度检查<br />
    </p>
    <p class="list" data-name="超声室">
        &emsp;&emsp;华西第四医院超声医学科成立于1982年，是四川省最早开展超声检查的单位之一。近年来在科室贾浥苹主任的带领下，科室规模和专业技术水平得到了长足的发展。科室目前有医、护、技人员14名，承担了大量的医疗和体检工作。<br />
        &emsp;&emsp;科室开展业务广泛，包括：腹部、小器官、周围血管、心脏及大血管、腔内超声（经阴道及经直肠）、胃肠超声、超声造影、介入超声及经颅脑超声等。其中，颌面部超声及颌面皮瓣移植术前超声评价在西南地区处于独特、领先的地位。<br />
        &emsp;&emsp;科室设备：科室目前拥有中高档彩超及灰阶超声6台，经颅多普勒超声仪1台。<br />
    </p>
    <p class="list" data-name="高压氧治疗中心">
        &emsp;&emsp;该中心建于一九八一年。现有医用高压氧治疗舱三台，其中10人舱、8人舱、单人舱各1台。自成立以来，在治疗各种缺血、缺氧性脑病,特别是对急性缺氧性疾病（如一氧化碳中毒、硫化氢中毒等）、突发性耳聋等疾病的治疗具有可靠的疗效。高压氧可以提高大脑血氧代谢,促进智力发展,帮助学生轻松应对各种考试，并能不断提升学生的学习成绩。中心的全体工作人员竭诚为您提供全天候服务。 高压氧室现有副教授一名，护师二名，技师一名。我们将以精湛的医术，良好的医德医风，为广大患者提供优质的服务。<br />
        &emsp;&emsp;适应症:<br />
        &emsp;&emsp;1. 急性一氧化碳其它气体以及四氯化碳、有机磷、奎宁等中毒及中毒性脑病<br />
        &emsp;&emsp;2. 急性气栓症<br />
        &emsp;&emsp;3. 急性减压病<br />
        &emsp;&emsp;4. 有害气体（硫化氢、液化石油气、汽油等）中毒<br />
        &emsp;&emsp;5. 厌氧菌感染<br />
        &emsp;&emsp;6. 休克<br />
        &emsp;&emsp;7. 视网膜动脉栓塞<br />
        &emsp;&emsp;8. 心肺复苏后急性脑功能障碍（电击伤、溺水、缢伤、窒息、麻醉意外等）<br />
        &emsp;&emsp;9. 脑水肿<br />
        &emsp;&emsp;10. 肺水肿<br />
        &emsp;&emsp;11. 挤压伤及挤压中合征<br />
        &emsp;&emsp;12. 急性末梢循环障碍<br />
        &emsp;&emsp;13. 急性脊髓损伤<br />
        &emsp;&emsp;14. 断肢（指、趾）再植术后<br />
        &emsp;&emsp;15. 烧伤<br />
    </p>
    <p class="list" data-name="外科">
        &emsp;&emsp;我院外科拥有一支专业优秀的医护团队，秉承以患者为中心、提供专业优质的治疗为理念。科室共有6名医生及17位护理人员，分为泌尿亚专业组和普外骨科专业组，科室拥有先进的手术室及手术系统，其中共4间手术室以供开展日常手术。<br />
        &emsp;&emsp;泌尿亚专业组为我科特色，拥有专业雄厚的技术力量及团队，团队医生均有海外留学经历，其中包括两名海外留学归国博士。泌尿专业组邀请到了有“西南一把刀”之称的泌尿外科泰斗原华西附一院泌尿外科主任杨宇如教授作为特聘指导教授，进一步加强了在泌尿疑难及危重症诊治方面的技术力量。<br />
        &emsp;&emsp;泌尿外科微创治疗为我科特色专业，我科拥有先进的全进口泌尿外科微创手术系统。老年男性前列腺增生症的微创手术治疗一直是我院外科研究的重点，帮助众多中老年朋友解决了排尿难题。泌尿亚专业组开展的其他特色微创治疗还有：泌尿系结石微创碎石术、男性不育腹腔镜精索静脉结扎术和腹腔镜肾脏及肾上腺手术，膀胱浅表肿瘤微创治疗等。<br />
        &emsp;&emsp;我科泌尿特色专业诊疗范围包括：泌尿系统损伤、泌尿系统感染、泌尿系结石、急慢性前列腺炎、前列腺癌、肾上腺疾病、泌尿系统肿瘤、男性功能障碍、男性不育、女性尿失禁、神经源性膀胱、小儿包茎、包皮过长等。<br />
        &emsp;&emsp;普外骨科专业组目前开展的诊治项目包括：1.普外科常见手术如：胆囊切除术、阑尾切除术、疝气无张力修补术、乳腺及甲状腺手术、全身淋巴结及软组织活检、胃肠肿瘤相关手术；2.骨关节外科常见手术。均由经验丰富的高年资主治医师担任主刀，为病人解除病痛。<br />
    </p>




</div>