<style>
    .out-box{font-size: 12px;width: 100%;height: auto}
    .out-box>img{width: 100%}
    .out-box p{padding: 0 .15rem}
    .out-box .title{font-size: 20px;padding: .1rem;color: #000000}
    .out-box .date{font-size: 13px;color: #999999;margin-bottom: .2rem}
    .sub-title {margin: .1rem 0;font-size: 16px;}
    .out-box .list{margin-bottom: .2rem;font-size: 15px;color: #666666;text-align: justify;line-height: 22px;}
</style>
<div class="out-box">
    <img src="./image/hospital_img.jpg" alt="">
    <p class="title">四川大学华西第四医院概况</p>
    <p class="date">2016-12-12</p>
    <p class="sub-title">四川大学华西公共卫生学院</p>
    <p class="list">
        &emsp;&emsp;华西公共卫生学院是中国最著名的公共卫生学院之一，历史可追溯到1914年在“华西协和大学医学院”建立的公共卫生学课程组，1936年发展为公共卫生学系，1951年更名为“国立华西大学公共卫生学系”，后于1986年成立“华西医科大学公共卫生学院”。2000年，原华西医科大学与四川大学合并，学院遂为“四川大学华西公共卫生学院”。
        <br><br>&emsp;&emsp;经过百年的建设，目前学院由学院本部、四川大学华西第四医院（职业病防治医院）和四川大学华西卫生管理干部培训中心组成，集教学、科研、医疗、预防、保健、干部培训和高科技开发为一体。学院有公共卫生与预防医学博士后流动站，7个博士点，12个硕士点。博士点和硕士点覆盖预防医学的各个学科。7个博士点分别是流行病与卫生统计学、劳动卫生与环境卫生学、营养与食品卫生学、健康与社会行为学、社会医学与卫生事业管理学、卫生检验与检疫和儿少卫生与妇幼保健学。营养与食品卫生学为国家重点学科，社会医学与卫生事业管理、劳动卫生与环境卫生学、姑息医学、卫生检验学为四川省重点学科。7个博士点同时也是硕士点，另有卫生毒理学、老年保健与姑息医学、卫生政策与管理、职业卫生与职业医学、公共卫生、共5个硕士点。学院现开设有预防医学、卫生检验与检疫、食品卫生与营养学等本科专业。
        <br><br>&emsp;&emsp;学院现有教职工 216人，其中高级职称 57 人，博士导师17人，硕士导师 31人。在校本科生954人，博士生 52人，硕士生 281人。学院有一批献身公共卫生事业的知名教授。四川省学术和技术带头人 4人，四川省卫生计生委学术和技术带头人8人。外专千人1人、青年千人计划1人、百人计划1人。已故陈志潜教授，是享誉世界的公共卫生学专家、初级卫生保健的先驱、农村三级卫生保健网的创建者、中国现代健康教育的奠基人，被誉为“中国公共卫生之父”。陈志潜教授献身于医学事业，治学严谨、崇尚科学、勇于创新，为人类健康和我国公共卫生事业做出了杰出贡献。
        <br><br>&emsp;&emsp;学院始终坚持以教学为中心，以育人为根本的原则；以转变教育观念为关键，以教学改革为核心，充分发挥传统学科与新兴学科的优势，按高起点、高目标要求，在专业设置、课程体系、教学内容和实践性教学环节等方面，真正从学生获得知识和提高素质与能力出发，加强基础训练，重视创新能力、创新思维、综合素质与实践技能的培养，初步建成了面向未来、面向世界、面向先进的科学技术，德智体全面发展的高素质创新人才培养体系，力求将我院建成具有一定特色、优势突出、国内先进、国际上具有一定影响的公共卫生学科高层次人才培养基地。
        <br><br>&emsp;&emsp;学院历来重视教材建设，我院教师主编的卫生部规划教材《卫生统计学》已出 4 版，第 1 版被评为卫生部优秀教材，第 3 版获得卫生部医药卫生杰出科技进步三等奖。仅 2002 年以来，学院教师主编和参编各类教材 57本。其中，高等教育“十五”国家规划教材 10 本，主编 3本、副主编1本；高等教育“十一五”国家规划教材主编4本；卫生部规划教材20 部，主编 10本。
        <br><br>&emsp;&emsp;我院是国内卫生检验专业的发源地，该专业也是我院的优势专业，至今学科地位在全国仍位居第一。
        <br><br>&emsp;&emsp;近二十年来，学院共承担完成各类科研课题 600 余项，有80余项科研成果荣获各级奖励。其中国家级和省部级奖励30余项。学院 30 余名教师担任全国性学术团体的理事或二级学会的主任委员， 40 余名教师担任省级学术团体主任、副主任及理事。
        <br><br>&emsp;&emsp;学院主办的《现代预防医学》杂志，现为中华预防医学卫生学类核心期刊、中国科技论文统计源期刊，被评为“中华预防医学会系列杂志优秀期刊”，发行国内外。
        <br><br>&emsp;&emsp;为着我国公共卫生事业和教育事业的崇高目标，华西公共卫生学院全体教职工正以“自强不息，直道而行，千仞可及”共勉，创造更大的辉煌！
    </p>
    <p class="sub-title">四川大学华西第四医院</p>
    <p class="list">
        &emsp;&emsp;医院始建于1976年，是全国唯一直属国家卫生和计划生育委员会的集医、教、研，预防、治疗、康复一体的三级甲等职业病防治院；是国家重点大学附属医院，省、市社会医疗保险定点医院，是四川省职业病防治院，四川省和成都市化学中毒救治基地，成都市职业中毒与核辐射损伤救治基地，四川省化学中毒救治药品储备库，四川省、成都市劳动卫生与职业病专委会主任委员单位，国家卫生计生委职业病医师培训基地。
        <br><br>&emsp;&emsp;医院现有在职职工494人，其中高级职称专家43名，有国家卫生计生委专家8人、省级专家9人，一批硕士和博士研究生导师。医院占地面积1.2万多平方米，建筑面积1.8万多平方米，编制床位600张，实际开放床位345张。共设医疗、医技科室24个，包括睡眠呼吸疾病治疗中心、高压氧治疗中心、肺灌洗中心、白内障治疗中心、李嘉诚基金会华西宁养院、骨科治疗中心等。2014年门诊量143256人次，出院病人8181人次。
        <br><br>&emsp;&emsp;我院以职业中毒、尘肺，职业性眼科、耳鼻喉科、皮肤科、中毒急救，高压氧治疗，职业病诊断、康复、危害因素监测，职业健康检查，建设项目职业病危害预评价和控制效果评价、工伤鉴定为医疗服务特色。医院的老年病治疗、骨质疏松治疗、姑息关怀等也很有特色。与医院学科专业相关的博士点有劳动卫生与环境卫生学，相关的硕士点有劳动卫生与环境卫生学、职业卫生与职业医学、老年保健与姑息医学。职业病科是正在建设的国家临床重点专科。拥有包括毒物检测分析、中毒、核辐射、尘肺、物理因素损伤等的知名临床专家，收治的职业病人数占全国第一。医院研究完成国家职业卫生标准制定13项，各级各类科研课题200多项，获得包括7项国家级奖在内的30多项科技成果。医院受国家和省卫生计生委的委托，举办了“全国突发中毒事件卫生应急处置”、“化学中毒救治”、“职业病诊断医师培训”、“放射卫生标准宣贯”、“职业病诊断机构资质现场评审专家培训”。
        <br><br>&emsp;&emsp;在“5.12”抗震救灾中，医院被全国总工会授予“抗震救灾重建家园工人先锋号”称号。近年来，医院先后成功对上百起各类中毒事件和核事故进行了医学处置，展示了国家卫生计生委直管医院精湛的医学技术和医务人员高尚的医德医风，深受国家卫生计生委领导高度评价，被四川省领导誉为“中流砥柱”。医院被评为全国医药卫生系统先进集体、四川省卫生应急先进集体、四川省放射卫生先进集体，多人被评为全国和四川省卫生应急先进个人。
    </p>
    <p class="sub-title">精神文化</p>
    <p class="list">
        &emsp;&emsp;1.愿景：建设中国一流的公共卫生学院和职业病医院。
        <br>&emsp;&emsp;2.精神：志存高远，进德修业，自强不息，和谐包容。
        <br>&emsp;&emsp;3.宗旨使命：育一流公共卫生人才，出重要预防医学科研成果，预防和治疗疾病，增进公共健康。
        <br>&emsp;&emsp;4.院训：卓越、为民。
        <br>&emsp;&emsp;5.办院理念：以人为本，防患未然。
        <br>&emsp;&emsp;6.医院目标：将我院建设成为立足四川、辐射中西部地区、引领全国的国内一流的职业病专科医院。
        <br>&emsp;&emsp;7.功能任务：主要承担政府赋予的公共卫生服务职能和任务，尤其是以各种职业危害引起的急、危、难、重症疾病救治以及化学中毒应急救援和核辐射损失救治任务。
        <br>&emsp;&emsp;8.发展定位：以职业病防治为重点、以相关临床专科为支撑，集预防、诊断、治疗、康复为一体，医、教、研工作相互结合和相互促进的现代化职业病专科医院和高级人才培训基地。
    </p>
</div>