<style>
    .out-box{font-size: 12px;width: 100%;height: auto}
    .dept-item{color: #838383;border-bottom: 1px solid #f2f2f2;
    font-size: .15rem; display: block; padding: 0.145rem 0; margin-left: .23rem;}
    .dept-item img{float: right; margin-right: 0.2rem; width: 4%;margin-top: 0.01rem;opacity: 0.4;}
    .empty-tips{font-size: .16rem; text-align: center; color: #999; margin-top: 0.4rem;}
</style>
<div class="out-box">
    <div class="box" ng-if="list.length > 0">
        <a ng-repeat="item in list" href="#!/{{jumpUrl}}/{{item.deptid}}/{{item.deptname}}" class="dept-item">{{item.deptname}}<img src="./image/arrow_right.png" alt=""></a>
    </div>
    <p ng-if="list.length == 0" class="empty-tips">暂无可选科室</p>
</div>