<style>
    .out-box{font-size: 12px;}
    .ex-title{font-size: .16rem;color: #333;text-align: center;margin: .1rem 0}
    .ex-list{font-size: .14rem;color: #666;padding: 0 .12rem;text-align: justify;margin-bottom: .1rem}
    .btn{position: fixed;bottom: 0;left: 0;width: 100%;height: .49rem;background-color: #fff;box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);text-align: center}
    .btn button{width: 2.7rem;height: .36rem;background-color: #00A560;border-radius: 4px;border: none;outline: none;font-size: .18rem;color: #fff;margin-top: .06rem;}
</style>
<div class="out-box">
    <div class="ex-title">
        寄送说明
    </div>
    <p class="ex-list">
        1.提供所有纸质报告的配送服务，含检验、超声、CT报告等
    </p>
    <p class="ex-list">
        2.每份报告只能领取一次
    </p>
    <p class="ex-list">
        3.寄送采用顺丰到付服务，系统会根据地址计算邮费，实际邮费需要以顺丰物流为准
    </p>
    <p class="ex-list">
        4.申请寄送后，可在10分钟内取消订单
    </p>
    <p class="ex-list">
        5.乐乐医助手将在每天15:30，同意领取当日的报告，并在16:00准时发出
    </p>
    <p class="ex-list">
        6.报告配送采用实名收件方式，必须收件人和身份证对应才可以收件
    </p>
    <p class="ex-list">
        7.如有疑问，可拨打客服热线：400-181-6106，服务时间：9:00-12:00
    </p>
    <div class="ex-title">
        出报告时间参考
    </div>
    <p class="ex-list">
        放射科： <br>
        门诊CT 2小时，门诊DR 1小时，法医DR 1小时，尘肺2-4小时
    </p>
    <p class="ex-list">
        检验科： <br>
        生化24小时，免疫48小时，临床（血常规，尿常规，大便常规，体液检查）1小时，凝血4小时，血气30分钟，理化项目48小时
    </p>
    <div class="btn">
    <!-- ui-sref="sendquery" -->
        <button  ng-click="explain()" >知道了，下一步</button>
    </div>
</div>