<style>
    body{background-color: #f2f2f2}
    .out-box{font-size: 12px}
    .address{background-color: #fff;}
    .query-title{margin-left: .12rem;height: .45rem;line-height: .45rem;color: #999;font-size: .14rem;position: relative;border-bottom: 1px dashed #e9e9e9;}
    .query-title span{position: absolute;right: .12rem}
    .query-title span img{height: .14rem;margin-right: .04rem;vertical-align: middle}
    .address-detail,.select-address{margin: .14rem .12rem;padding: .14rem .1rem;background-color: #F6F6F6;border-radius: 4px;overflow: hidden;position: relative}
    .select-address:after{content: '';display: inline-block;height: .14rem;width: .14rem;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;transform: rotate(-45deg);
        position: absolute;right: .12rem;top: .15rem;
    }
    .select-address .add-icon{display: inline-block;height: .16rem;width: .16rem;border-radius:100%;font-size:.16rem;border: 1px solid #ccc;color: #ccc;text-align: center;line-height: .16rem;margin-right: .06rem}
    .user-info{font-size: .16rem;color: #333;}
    .user-info span{font-size: .12rem;color: #999;}
    .address-info{font-size: .14rem;color: #333;margin-top: .12rem}
    .address-info img{height: .16rem;margin-right: .06rem;vertical-align:text-bottom;}
    .address-detail .right{position: absolute;right: .1rem;top: .34rem;width: .14rem;height: .14rem;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;
            transform: rotate(-45deg);
    }
    .explain{margin: .06rem .12rem 0 .12rem;font-size: .12rem;color: #999;padding-bottom: .14rem;}
    .explain span{color: orange}

    .send-info{background-color: #fff;margin-top: .12rem;}
    .send-detail{padding: .13rem .12rem}
    .send-detail p{font-size: .14rem;color: #333;position: relative}
    .send-detail p:not(:last-child){margin-bottom: .1rem;}
    .send-detail p .num{position: absolute;right: 0}

    .send-total{margin-left: .12rem;height: .45rem;line-height: .45rem;color: #999;font-size: .14rem;position: relative;border-top: 1px dashed #e9e9e9;padding-right: .12rem
    }
    .send-total p{position: relative}
    .send-total p .total{position: absolute;right: 0;}
    .total {font-size: .16rem;color:#333333}
    .total-money {font-size: .16rem;color:orange;margin-left: .1rem}

    .agreement {padding-top:.09rem;padding-left: .20rem}
    .agreement p {font-size: .14rem;color: #333333;}
    .agreement p span{color: #00A560}
    .big-box{display: inline-block;position: relative;border-radius: 50%;width: 0.13rem;height: 0.13rem;margin-top: 0.01rem;border: 0.01rem solid #cccccc;}
    .agreement p .selected{display: inline-block;width: 0.073rem;height: 0.073rem;position: relative;padding: 0.01rem;position: absolute;top: 0.02rem;left: 0.01rem;}
    .chioce{display:inline-block;width: 0.063rem;height: 0.063rem;border-bottom: 0.01rem solid #cccccc;border-right: 0.01rem solid #cccccc;transform: rotate(45deg) ;position: absolute;top: 0;}
    .btn{width: 100%;text-align: center;margin-top: .16rem;}
    .btn button{border: none;outline: none;width: 3.35rem;height: .44rem;border-radius: 4px;background-color: #CCCCCC;font-size: .18rem;color: #fff;}
</style>
<div class="out-box">
    <div class="address">
        <div class="query-title">
            收取地址 <span ><img src="../image/explain.png" ui-sref="sendexplain({readOnly: true})">寄送说明</span>
        </div>
        <div class="address-detail" ng-if="(defautindex == 0 || indexs == 0) && !showAdd">
            <p class="user-info"><span ng-if="datas[0].name.length == 2">{{datas[0].name[0] + "*"}}</span>
                <span ng-if="datas[0].name.length >= 3">{{datas[0].name[0] + "**"}}</span><span>{{datas[0].phone}}</span>
                <span class="id-card" ng-if="datas[0].idNo.length == 18 ">{{datas[0].idNo[0] + datas[0].idNo[1] +datas[0].idNo[3] +"************" + datas[0].idNo[15] + datas[0].idNo[16] +datas[0].idNo[17]}}</span>
                <span class="id-card" ng-if="datas[0].idNo.length == 15 ">{{datas[0].idNo[0] + datas[0].idNo[1] +datas[0].idNo[3] +"*********" + datas[0].idNo[12] + datas[0].idNo[13] +datas[0].idNo[14]}}</span>
                </p>
            <p class="address-info"><img src="./image/address.png">{{datas[0].province}}{{datas[0].city}}{{datas[0].area}}{{datas[0].detail}}</p>
            <div class="right"  ng-click="toAdressList()"></div>
        </div> 
        <div class="address-detail" ng-if="indexs && !showAdd ">
            <p class="user-info">
            <span ng-if="datas[indexs].name.length == 2">{{datas[indexs].name[0] + "*"}}</span>
            <span ng-if="datas[indexs].name.length >= 3">{{datas[indexs].name[0] + "**"}}</span>
            <span>{{datas[indexs].phone}}</span>
            <span class="id-card" ng-if="datas[indexs].idNo.length == 18 ">{{datas[indexs].idNo[0] + datas[indexs].idNo[1] +datas[indexs].idNo[3] +"************" + datas[indexs].idNo[15] + datas[indexs].idNo[16] +datas[indexs].idNo[17]}}</span>
                <span class="id-card" ng-if="datas[indexs].idNo.length == 15 ">{{datas[indexs].idNo[0] + datas[indexs].idNo[1] +datas[indexs].idNo[3] +"*********" + datas[indexs].idNo[12] + datas[indexs].idNo[13] +datas[indexs].idNo[14]}}</span>
                </p>
            </p>
            <p class="address-info"><img src="./image/address.png">{{datas[indexs].province}}{{datas[indexs].city}}{{datas[indexs].area}}{{datas[indexs].detail}}</p>
            <div class="right"  ng-click="toAdressList()"></div>
        </div> 
        <div class="select-address" ng-click="toAddress()" ng-if="showAdd">
            <span class="add-icon" >+</span><span>新增收货地址</span>
        </div>
        <div class="explain">
            <p>*顺丰到付，每天下午16:00发货，成都9区保证3小时送达</p>
            <p>*邮费预计<span>23</span>元，请以具体收费为准</p>
        </div>
    </div>
    <div class="send-info">
        <div class="query-title">
            寄送内容
        </div>
        <div class="send-detail" ng-repeat="n in reportContent">
            <p><span>{{n.examName}}</span><span class="num">×1</span></p>
        </div>
    </div>
     <div class="send-info">
        <div class="query-title">
            费用
        </div>
        <div class="send-detail">
            <p><span>快递邮费</span><span class="num">{{parice.postage}}.00元</span></p>
            <p><span>专人领取包装费</span><span class="num">{{parice.serviceCharge}}.00元</span></p>
        </div>
        <div class="send-total">
            <p><span><span  class="total">合计:<span class="total-money">{{totalParice}}.00元</span></span></span></p>
        </div>
    </div>
    <div class="btn">
        <button ng-click="applySend()" disabled="true">申请寄送</button>
    </div>
    <div class="agreement">
        <p>
        <span class="big-box" ng-click="selectAgreement($event)"><span class="selected"><span class="chioce borderColor"></span></span></span>
        我已阅读并同意 <span>《报告配送服务用户协议》</span></p>
    </div>
</div>